
.banner-area
{
  height: 950px;
  background-image:url('../../assets/home-banner2.jpg');
  background-size: cover;
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.banner-area-overlay
{
  z-index: 2; height: 950px; width: 100%; background-color: rgba(0, 0, 0, 0.5)!important; position: absolute;
}

.banner-area-container
{
  color: white;
  margin-top: 300px;
  overflow: hidden;
} 

.banner-title{
  font-size: 100px;
  text-transform: uppercase; 
  font-weight: 700;
}

.banner-text {
  opacity: 0.8;
  padding: 20px 0 0 0 ;
}

@media only screen and (max-width: 800px) {
    .words-wrapper-container {
      padding-left: 0px;
      font-size: 5vw!important;
    }
}

@keyframes mymove {
  0% {width: 0px;}
 40% {width: 100%;}
 80% {width: 100%;}
  100% {width:0px;}
}

@-webkit-keyframes mymove {
  0% {width: 0px;}
  40% {width: 100%;}
  80% {width: 100%;}
   100% {width:0px;}
}


.home-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* background: linear-gradient(90deg, rgba(170,170,170,0.6951155462184874) 0%, rgba(170,170,170,0.08167016806722693) 80%, rgba(2,0,36,0) 100%); */
}


/* HOME SECTION 1*/

.home-items {
  padding:30px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.home-item {
  flex: 0 50%;
  box-sizing:border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 140px;

  min-height: 140px;
  -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    -ms-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

.home-item:hover{
  background-color: #EB502F;
}

.home-item > fa-icon {
  font-size: 60px;
}

.home-item:nth-child(odd){
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.home-item:nth-child(3), .home-item:nth-child(4){
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* HOME SECTION 2 */

.service-card {
  border-radius: 0px;
  padding-right: 80px;

}

.service-card:not(:last-of-type)::after {
  content: "";
  right: 50px;
  top: 0px;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
}

.service-card-title {
  font-weight: bold;
  font-size: 24px;
  padding: 0 0 10px 0;
}

.example-header-image {
  background-image: url('https://mdn.mozillademos.org/files/7693/catfront.png');
  height: 60px;
  width: 60px;
}

.test-card-container:hover .image {
  opacity: 0.5;
}

.test-card-container:hover .test-card-description {
  opacity: 1;
  visibility: visible;
}

.test-card-container:hover  .test-card-content{
  background-color: rebeccapurple;
}

.test-card-container{
  background-color: black;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.test-card-overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;  
  width: 100%;
  height: 100%;
  background-color: black;
}

.test-card-content {
  transition: .5s ease;
  opacity: 1;
 
  text-align: center;
  color: white;
  width: 100%;
}

.test-card-title {
  font-size: 22px;  
}

.test-card-description {
  transition: .5s ease;
  text-align: center;
}


@media screen and (min-width: 601px) {
  .overlay > p,.overlay > h2{
    font-size: 3vw!important;
  }
}


@media screen and (min-width: 985px) {
  .overlay > p, .overlay > h2{
    font-size: 1vw!important;
  }
}

@media screen and (min-width: 1201px) {
  .overlay > p{
    font-size: 1vw!important;
  }
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background-color: black;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  background-color: transparent;
  margin: 0 0 10px 0;
  text-align: left;
  background-color: #00000080; 
  font-size: 24px; 
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
  opacity: 0.7;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.owl-item:active {
  background-color: transparent;
}

/* HOME SECTION 3 */

.module {
  position: relative;
  color: white;
  padding: 100px 0;
}
.module::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../../assets/testimonials.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(40%);
}
.module-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
}

.review-text{
  font-size: 20px;
  padding: 40px 0px 40px 0px;
  font-weight: bold;
  font-style: italic;
}

.subheader {
  color: var(--ets-red);
  letter-spacing: 8px;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .subheader, .header{
    text-align: center;;
  }
}

.subheader::before{
  width: 60px;
  margin-right: 20px;
  position: relative;
  top: -5px;
  border-top: 2px solid var(--ets-red);
  border-color: #E81C2E;
  border-color: var(--ets-red);
  content: "";
  display: inline-block;
}

.header {
  font-size: 40px;
  font-weight: 700;
}