
<!-- BANNER -->
<div class='banner-area'>
    <div class='banner-area-overlay'>
        <div class='words-wrapper-container'>
            <div class='words-wrapper-inner'>
                <div class='cd-words-wrapper' id='ww'>
                        <b id='w1' class="is-visible">Solutii profesionale &nbsp;</b>
                        <b id='w2' class="is-hidden">Rapiditate &nbsp;</b>
                        <b id='w3' class="is-hidden">Incredere &nbsp;</b>
                </div>
            </div>
            
            <div style='color: white; margin-top: 40px;' >
                    <div style='text-transform: uppercase; font-size: 55px; font-weight: 700;'>

                        <i>ETS </i><i style="color:#EB502F">Performance</i> <br> Remapping, <br> Chiptunning, Solutii
                    </div>
            </div>

            <div style='color: white; margin-top: 40px; font-style: italic;'>
                Mai jos puteti regasi motivele pentru care ar trebui sa alegeti serviciile noaste!
            </div>
        </div>
    </div>
</div>


<div class='home-container'>
    
    <!-- First section -->
    <div class='home-container-first'>
        <div class='row no-gutters home-section'>
            <div class='col-lg-8' style="justify-content: center; align-items: center; margin:auto auto">
                <div style="font-size: 42px; font-weight: bolder;">
                    PRECISE TUNNING<br>
                    FOR BETTER CARS
                </div>
                <div style="font-size:20px; word-wrap: break-word; margin: 40px 0px;">
                    Vrei sa-ti fuga masina ca un lamborghini?<br>
                    Acum este momentul! Nu ezita sa ne contactati 
                </div>
                <button type="button" class="btn btn-primary btn-lg"> Get Started</button>
            </div>
            <div class='col-lg-4 home-items'>
                <div class='home-item'>
                    <fa-icon [icon]='faCar'></fa-icon>
                </div>
                <div class='home-item'>
                    <fa-icon [icon]='faMicrochip'></fa-icon>
                </div>
                <div class='home-item'>
                    <fa-icon [icon]='faTools'></fa-icon>
                </div>
                <div class='home-item'>
                    <fa-icon [icon]='faTachometerAlt'></fa-icon>
                </div>
                <div class='home-item'>
                    <fa-icon [icon]='faChartLine'></fa-icon>
                </div>
                <div class='home-item'>
                    <fa-icon [icon]='faCalendarCheck'></fa-icon>
                </div>
            </div>
        </div>
    </div>

    <!-- Second section -->
    <div class='home-container-first'>
        <div class='row no-gutter home-section-full'>
            <div class='col-lg-3 justify-content-center' style="margin-top: 30px;">
                <mat-card class="services-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>REMAP AND CHIPTUNNING</mat-card-title>
                      <mat-card-subtitle>Proteina la masina</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Serviicile pe care le oferim pentru sectiunea de Remap & Chiptunning, 
                        consta in extragerea Flash-ului de pe ECU (a soft-ului, mape) prin intermediul port-ului OBD (o gama larga de masini), 
                        sau detasand ECU la masinile care nu merg facute pe OBD, pe Bench si scrierea lui prin intermediul BDM / BOOTMODE.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class='col-lg-3 justify-content-center' style="margin-top: 30px;">
                <mat-card class="services-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>LOG</mat-card-title>
                      <mat-card-subtitle>Diagnostic</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Serviciile pe care le oferim la sectiunea LOG, 
                        consta in diagnoza si testarea parametriilor masinii in toate conditiile necesare pentru a ajunge la perofrmanta dorita. 
                        Log-ul se face pentru a stii exact cu ce lucram, 
                        astfel incat sa nu iesim din anumiti paramtetrii pe care producatorul i-a stabilit.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class='col-lg-3 justify-content-center' style="margin-top: 30px;">
                <mat-card class="services-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>DPF OFF / EGR OFF</mat-card-title>
                      <mat-card-subtitle>Ilegalitati:))</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <b>ATENTIE ACEST SERVICIU SE APLICA DOAR LA MASINIILE DE COMPETITIE</b>
                        Serviciile pe care le oferim la sectiunea DPF OFF, consta in anularea din soft, a DPF-ului, respectiv EGR-ului
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class='col-lg-3 justify-content-center' style="margin-top: 30px;">
                <mat-card class="services-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>DPF OFF / EGR OFF</mat-card-title>
                      <mat-card-subtitle>Ilegalitati:))</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <b>ATENTIE ACEST SERVICIU SE APLICA DOAR LA MASINIILE DE COMPETITIE</b>
                        Serviciile pe care le oferim la sectiunea DPF OFF, consta in anularea din soft, a DPF-ului, respectiv EGR-ului
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>

</div>

