
.active {
    /* color: var(--ets-red)!important; */
    background-color: rgba(0,0,0,0.05)!important;
  }

mat-expansion-panel {
  background-color: rgba(0,0,0,0.06)!important; 
  box-shadow: none!important;
  border-radius: 0!important;
}

mat-expansion-panel-header:focus{
    background-color: transparent!important;
}

.mat-expansion-panel-body {
    padding: 0px!important;
}
/* 
.mat-list-item:hover{
    background-color: rgba(0,0,0,0.05)!important;
} */

.mat-list-item-content {
    padding: 0px 24px!important;
}

.mat-list-base {
    padding-top: 0px!important;
}
/* 
.mat-focus-indicator:active {
    background-color: transparent!important;
} */