
  <!-- Footer -->
  <footer >
    <div class='footer'>
      <div style="width: 70%; height: 8px; margin: 0 auto; top:-4px; position: relative; z-index: 999; background-color: #E81C2E; border-radius: 4px; "></div>
      <div class="text-center">
        <!-- <img style=" width: 150px; margin-top: 20px;" src='../assets/ets-performance-logo.png'> -->
        <img style=" width: 150px; margin: 40px 0px;" src='../assets/logocaretrebuie-white-sm.png'>
      </div>
      <div style="color: rgba(255, 255, 255, 0.55); font-size: 14px;"  class="text-center">
        Etiam consequat sem ullamcorper, euismod metus sit amet, tristique justo.<br> Vestibulum mattis, nisi ut faucibus commodo, risus ex commodo.
      </div>
      <div class='footer-overlay'>
        <!-- <div class='footer-follow-us'>
          <span style="color:white; font-size: 20px; margin-right: 50px;">  FOLLOW US </span>
          <div class="footer-brands">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </div>
          <div class="footer-brands">
            <fa-icon [icon]="faYoutube"></fa-icon>
          </div>
          <div class="footer-brands">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </div>
        </div> -->

        <div class='footer-container'>

          <div class='row'>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center footer-icon-col' style="padding:30px">
              <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">location_on</mat-icon>
              <p style="font-size: 14px;">
                Dumbrava Timis, Romania
              </p>
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center footer-icon-col' style="padding:30px">
                <mat-icon class="footer-icon"  aria-hidden="false" aria-label="Example thumbs up SVG icon">phone</mat-icon>
                <div style="font-size: 14px;">
                  <div style="font-weight: 900; margin-bottom: 6px;">
                    0742-164-800
                  </div>
                  <div style=" color: #E81C2E;">
                    Contactati-ne!
                  </div>
                </div>
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center footer-icon-col'  style="padding:30px">
              <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">mail</mat-icon>
              <p style="word-wrap: break-word; font-size: 14px;">
                ecutuningservices@gmail.com
              </p>
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center footer-icon-col' style="padding:30px">
              <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">access_time</mat-icon>
              <div style="font-size: 14px;">
                <div style="margin-bottom:6px;">
                  <span style=" color: #E81C2E;">Mo-Sa: </span> <span style="font-weight: 900;">07:00 - 22:00</span>
                </div>
                <div>
                  <span style=" color: #E81C2E;">Su: </span> <span style="font-weight: 900;">07:00 - 22:00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-end">
          © 2020 Toate Drepturile Rezervate! - <span style="color: #E81C2E;">ECU Tunning Services</span> - Romania
        </div>
      </div>
    
    </div>
  </footer>
