
figure {
    position: relative;
    display: inline-block;
    cursor: col-resize;
}

figcaption {
    width: 30%;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-right: 2px solid black;
}


figure > span {
    position: absolute; 
    right: 0;
    /* background-color: #1119; */
    padding: 0px 10px;
    border-radius: 10px;
    color: transparent;
}

figcaption > span {
    position: absolute;
    /* background-color: black; */
    padding: 0px 10px;
    border-radius: 10px;
    color: transparent;
}

.juxtapose-caption {
    font-weight: bold;
    color: var(--ets-dark);
    font-size: 36px;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-text-stroke: 1px #555;
}