
<form [formGroup]="carMakeFormGroup">

    <mat-form-field class="w-100">
        <mat-label>Start year</mat-label>
        <input matInput type="number" formControlName="startYear">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>End year</mat-label>
        <input matInput type="number" formControlName="endYear">
    </mat-form-field>
    
    <mat-form-field class="w-100" appearence='fill'>
        <mat-label>Icon</mat-label>
        <input matInput formControlName="icon">
    </mat-form-field>
</form>
