<div>
    <app-pageheader pageTitle='Catalog Tuning'></app-pageheader>

    <div class="container-xl" style="min-height: 100vh; width: 100%;">


        <mat-horizontal-stepper #stepper [linear]="true" (selectionChange)="setIndex($event)">
            <mat-step [completed]="false">
                <ng-template matStepLabel>{{selectedCar != null ? selectedCar.name : "Brand"}}</ng-template>

                <div class="mb-3 d-flex justify-content-between">
                    <button mat-raised-button (click)="openAddCarBrandDialog()">Add Brand</button>
                    <button mat-mini-fab (click)="updateTuningTable()" color='primary'>
                        <span class="material-icons" >cloud_upload</span>
                    </button>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor='let car of carMap'>
                        <div class="car-card" (click)="selectCar(car); false">
                            <div class="d-flex justify-content-end mr-2 mt-2">
                                <button mat-mini-fab style="cursor: pointer; width: 20px; height: 20px;"
                                    class="d-flex align-items-center justify-content-center" color='primary'
                                    [matMenuTriggerFor]="menu" clickStopPropagation>
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        expand_more
                                    </span>
                                </button>

                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)='openEditCarBrandDialog(car)'>Edit</button>
                                    <button mat-menu-item (click)='deleteCarBrand(car)'>Delete</button>
                                </mat-menu>
                            </div>
                            <div class="text-center">
                                <img [src]="car.iconPath" style="width: 102px; height: 102px; margin: 0">
                            </div>
                            <div class="text-center" style="font-size: 12px; margin-top: 25px">
                                {{car.name | uppercase}}
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>

            <mat-step [completed]="false">
                <ng-template matStepLabel>{{selectedModel != null ? selectedModel.name : "Model"}}</ng-template>

                <div class="mb-3">
                    <button mat-raised-button (click)="openAddCarModelDialog()">Add Model</button>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor='let carModel of selectedCar?.models'>
                        <div class="car-card" (click)="selectModel(carModel)">
                            <div class="d-flex justify-content-end mr-2 mt-2">
                                <button mat-mini-fab style="cursor: pointer; width: 20px; height: 20px;"
                                    class="d-flex align-items-center justify-content-center" color='primary'
                                    [matMenuTriggerFor]="menu" clickStopPropagation>
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        expand_more
                                    </span>
                                </button>

                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)='openEditCarModelDialog(carModel)'>Edit</button>
                                    <button mat-menu-item (click)='deleteCarModel(carModel)'>Delete</button>
                                </mat-menu>
                            </div>
                            <div class="text-center">
                                <img [src]="carModel.iconPath" style="height: 102px; margin: 0">
                            </div>
                            <div class="text-center" style="font-size: 12px; margin-top: 25px">
                                {{carModel.name | uppercase}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button matStepperPrevious class="btn btn-outline-primary btn-lg">Back</button>
                </div>
            </mat-step>

            <mat-step [completed]="false">
                <ng-template matStepLabel>{{selectedGeneration != null ? (selectedGeneration.startYear + " - " +
                    selectedGeneration.endYear) : "Version"}}</ng-template>

                <div class="mb-3">
                    <button mat-raised-button (click)="openAddCarMakeDialog()">Add Make</button>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 mb-4"
                        *ngFor='let carMake of selectedModel?.generations'>
                        <div class="car-card" (click)="selectGeneration(carMake)">
                            <div class="d-flex justify-content-end mr-2">
                                <button mat-mini-fab style="cursor: pointer; width: 24px; height: 24px;"
                                    class="d-flex align-items-center justify-content-center" color="primary"
                                    [matMenuTriggerFor]="menu" clickStopPropagation>
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        expand_more
                                    </span>
                                </button>

                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)='openEditCarMakeDialog(carMake)'>Edit</button>
                                    <button mat-menu-item (click)='deleteCarMake(carMake)'>Delete</button>
                                </mat-menu>
                            </div>
                            <div class="text-center">
                                <img [src]="carMake.iconPath" style="height: 102px; margin: 0">
                            </div>
                            <div class="text-center" style="font-size: 12px; margin-top: 25px">
                                {{carMake.startYear }} {{carMake.endYear == 'Infinity' ? '+' : ('- ' +
                                carMake.endYear)}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button matStepperPrevious class="btn btn-outline-primary btn-lg">Back</button>
                </div>
            </mat-step>

            <mat-step [completed]="false">
                <ng-template matStepLabel>Done</ng-template>

                <!-- <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)">
                </mat-form-field> -->

                <div class="mb-3">
                    <button mat-raised-button (click)="openAddCarEngineDialog()">Add Engine</button>
                </div>

                <!-- DIESEL ENGINES TABLE -->
                <span style="color: #3f51b544; font-size: 32px; font-weight: 1000;">Diesel</span>
                <table mat-table [dataSource]="dieselEngineSource" class="mat-elevation-z8" style="width: 100%;">

                    <ng-container matColumnDef="engineName">
                        <th mat-header-cell *matHeaderCellDef style="width: 240px;"> Motor </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element.name}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="original">
                        <th mat-header-cell *matHeaderCellDef> Original </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 15px 0px 5px 0px;"> {{element.hp}} HP </div>
                            <div style="padding: 5px 0px 5px 0px;"> {{element.nm}} Nm </div>
                            <div style="padding: 5px 0px 15px 0px;"> {{element.hp * 0.73556 | number : '1.1-1'}} Kw
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="tuned">
                        <th mat-header-cell *matHeaderCellDef style="color: #2e3092; font-weight: bold;"> Stage 1 </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="color: #2e3092; font-weight: bold; padding: 10px 0px 5px 0px;">
                                {{element.stage1?.hp}} HP </div>
                            <div style="color: #2e3092; font-weight: bold; padding: 5px 0px 5px 0px;">
                                {{element.stage1?.nm}} Nm </div>
                            <div style="color: #2e3092; font-weight: bold; padding: 5px 0px 10px 0px;">
                                {{element.stage1?.hp * 0.73556 | number : '1.1-1'}} Kw </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Diferenta </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 10px 0px 5px 0px;"> {{element.stage1?.hp - element.hp > 0 ? '+' :
                                ''}} {{element.stage1?.hp - element.hp}} HP </div>
                            <div style="padding: 5px 0px 5px 0px;"> {{element.stage1?.nm - element.nm > 0 ? '+' :
                                ''}} {{element.stage1?.nm - element.nm}} Nm </div>
                            <div style="padding: 5px 0px 10px 0px;"> {{element.stage1?.hp * 0.73556 - element.hp *
                                0.73556 > 0 ? '+' : ''}} {{element.stage1?.hp * 0.73556 - element.hp * 0.73556 |
                                number : '1.1-1'}} Kw </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Pret </th>
                        <td mat-cell *matCellDef="let element">
                            <div> {{element.stage1?.price | currency:'EUR'}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                                <button mat-mini-fab class="d-flex align-items-center justify-content-center mr-2"
                                    color="primary" style="width: 32px; height: 32px;"
                                    (click)="openEditCarEngineDialog(element)">
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        edit
                                    </span>
                                </button>

                                <button mat-mini-fab class="d-flex align-items-center justify-content-center"
                                    color="warn" style="width: 32px; height: 32px;" (click)="deleteCarEngine(element)">
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="['engineName', 'original', 'tuned', 'symbol', 'price', 'actions']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['engineName', 'original', 'tuned', 'symbol', 'price', 'actions'];">
                    </tr>
                </table>

                <br><br>

                <!-- PETROL ENGINES TABLE-->
                <span style="color: #3f51b544; font-size: 32px; font-weight: 1000;">Benzina</span>
                <table mat-table [dataSource]="petrolEngineSource" class="mat-elevation-z8" style="width: 100%;">

                    <ng-container matColumnDef="engineName">
                        <th mat-header-cell *matHeaderCellDef style="width: 240px;"> Motor </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element.name}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="original">
                        <th mat-header-cell *matHeaderCellDef> Original </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 15px 0px 5px 0px;"> {{element.hp}} HP </div>
                            <div style="padding: 5px 0px 5px 0px;"> {{element.nm}} Nm </div>
                            <div style="padding: 5px 0px 15px 0px;"> {{element.hp * 0.73556 | number : '1.1-1'}} Kw
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="tuned">
                        <th mat-header-cell *matHeaderCellDef style="color: #2e3092; font-weight: bold;"> Stage 1 </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="color: #2e3092; font-weight: bold; padding: 10px 0px 5px 0px;">
                                {{element.stage1?.hp}} HP </div>
                            <div style="color: #2e3092; font-weight: bold; padding: 5px 0px 5px 0px;">
                                {{element.stage1?.nm}} Nm </div>
                            <div style="color: #2e3092; font-weight: bold; padding: 5px 0px 10px 0px;">
                                {{element.stage1?.hp * 0.73556 | number : '1.1-1'}} Kw </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Diferenta </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 10px 0px 5px 0px;"> {{element.stage1?.hp - element.hp > 0 ? '+' :
                                ''}} {{element.stage1?.hp - element.hp}} HP </div>
                            <div style="padding: 5px 0px 5px 0px;"> {{element.stage1?.nm - element.nm > 0 ? '+' :
                                ''}} {{element.stage1?.nm - element.nm}} Nm </div>
                            <div style="padding: 5px 0px 10px 0px;"> {{element.stage1?.hp * 0.73556 - element.hp *
                                0.73556 > 0 ? '+' : ''}} {{element.stage1?.hp * 0.73556 - element.hp * 0.73556 |
                                number : '1.1-1'}} Kw </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Pret </th>
                        <td mat-cell *matCellDef="let element">
                            <div> {{element.stage1?.price | currency:'EUR'}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                                <button mat-mini-fab class="d-flex align-items-center justify-content-center mr-2"
                                    color="primary" style="width: 32px; height: 32px;"
                                    (click)="openEditCarEngineDialog(element)">
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        edit
                                    </span>
                                </button>

                                <button mat-mini-fab class="d-flex align-items-center justify-content-center"
                                    color="warn" style="width: 32px; height: 32px;" (click)="deleteCarEngine(element)">
                                    <span class="material-icons-round d-flex align-items-center justify-content-center"
                                        style="font-size: 16px;">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="['engineName', 'original', 'tuned', 'symbol', 'price', 'actions']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['engineName', 'original', 'tuned', 'symbol', 'price', 'actions'];">
                    </tr>
                </table>

                <br><br>
                <div class="text-center">
                    <button matStepperPrevious class="btn btn-outline-primary btn-lg mr-3">Back</button>
                    <button (click)="stepper.reset()" class="btn btn-outline-primary btn-lg">Reset</button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>

<app-footer></app-footer>