.icon-col:hover > mat-icon{
    transform: translateY(-10px);
}

.footer-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    color: var(--ets-red);
   
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-title {
    font-weight: bold;
    font-size: 24px;
}