<div style="min-height: 100vh;">
    <app-pageheader pageTitle='Contact'></app-pageheader>

    <div class="section" style="padding:64px 0px">
        <div class='row'>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center icon-col' style="padding:30px">
              <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">location_on</mat-icon>
              <p class="icon-title">Location</p>
              <p style="font-size: 14px;">Dumbrava Timis, Romania</p>
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center icon-col' style="padding:30px">
                <mat-icon class="footer-icon"  aria-hidden="false" aria-label="Example thumbs up SVG icon">phone</mat-icon>
                <p class="icon-title">Phone</p>
                <div style="font-size: 14px;">
                  <div style="margin-bottom: 6px;">
                    0742-164-800
                  </div>
                  <div>
                    Contactati-ne!
                  </div>
                </div>
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center icon-col'  style="padding:30px">
              <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">mail</mat-icon>
              <p class="icon-title">Email</p>
              <p style="word-wrap: break-word; font-size: 14px;">
                ecutuningservices@gmail.com
              </p>
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 text-center icon-col' style="padding:30px">
              <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">access_time</mat-icon>
              <p class="icon-title">Working hours</p>
              <div style="font-size: 14px;">
                <div style="margin-bottom:6px;">
                  <span>Mo-Sa: </span> <span>07:00 - 22:00</span>
                </div>
                <div>
                  <span>Su: </span> <span>07:00 - 22:00</span>
                </div>
              </div>
            </div>
          </div>
    </div>
    

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2780.3240373398835!2d22.12303271621148!3d45.82479451732935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474fa7428229883f%3A0x1cb667cfeb083ffc!2sEtsperformance!5e0!3m2!1sen!2sro!4v1594542505652!5m2!1sen!2sro" data-zoom="11" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<app-footer></app-footer>