/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default';

:root{
  --ets-red: #E81C2E;
  --ets-dark: #19191b;
  --ets-blue: #0066ff;

  --ng-primary: #3f51b5;
}

html, body { height: 100%; }

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #dfdfdf; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--ets-red); 
}

::-moz-selection { /* Code for Firefox */
  background: #77777733;
}

::selection {
  background: #77777733;
}
  
.no-gutter {
    margin-right: 0;
    margin-left: 0;
  }
  
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


/* BUTTONS */

.btn-main {
  background-color: var(--ets-red);
  border-color: transparent!important;
  border-radius: 32px;
  height: 64px;
  width: 250px;
  user-select: none;
}

.btn-main:focus{
  background-color: var(--ets-red);
}

.btn-main:active{
  background-color: var(--ets-red)!important;
}

.btn-main > mat-icon {
  width: 28px; 
  height: 28px; 
  vertical-align: middle;
}

.btn-hover-black:hover {
  background-color: black!important;
  color: white!important;
}

.btn-hover-white:hover {
  background-color: white!important;
  color: black!important;
}

.header-fs {
  font-size: 42px;
}

.header-fw {
  font-weight: bold;
}

.section {
  margin: 0 auto;
  padding: 30px 0px;
  height: 100%;
}

@media screen and (min-width: 1550px) {
  .section{
    width: 1550px!important;
  }
}