
  <mat-tab-group 
    #matTab
    mat-stretch-tabs>
    <mat-tab label="Home"> 
      <app-home></app-home>
     </mat-tab>

    <mat-tab label="Catalog Tuning">
      <div style="height: 80vh; background-color: rgba(44,44,44);"></div>
    </mat-tab>

    <mat-tab label="Despre Noi">
      <div style="height: 80vh; background-color: rgba(44,44,44);"></div>
    </mat-tab>

  </mat-tab-group>

  <!-- Footer -->
  <footer>
    <div class='footer'>
      <div class='footer-overlay'>
        <div class='footer-follow-us'>
          <span style="color:white; font-size: 20px; margin-right: 50px;">  FOLLOW US </span>
          <div class="footer-brands">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </div>
          <div class="footer-brands">
            <fa-icon [icon]="faYoutube"></fa-icon>
          </div>
          <div class="footer-brands">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </div>
        </div>

        <div class='footer-container'>
          
          <mat-list role="list">
            <mat-list-item role="listitem" style="color: #919496; font-weight: bolder;">CONTACT</mat-list-item>
            
            <mat-list-item role="listitem" style="color: white;">
              <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon">home</mat-icon>
              &nbsp;Dumbrava Timis, Romania
            </mat-list-item>

            <mat-list-item role="listitem" style="color: white;">
              <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon">phone</mat-icon>
              &nbsp;Tel: 0742164800
            </mat-list-item>

            <mat-list-item role="listitem" style="color: white;">
              <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon">mail_outline</mat-icon>
              &nbsp;Mail: ecutuningservices@gmail.com
            </mat-list-item>

         
          </mat-list>

          <mat-list role="list">
            <mat-list-item role="listitem" style="color: #919496; font-weight: bolder;">LINK-URI</mat-list-item>
            <mat-list-item role="listitem" style="color: white;">Item 2</mat-list-item>
            <mat-list-item role="listitem" style="color: white;">Item 3</mat-list-item>
          </mat-list>


          <mat-list role="list">
            <mat-list-item role="listitem" style="color: #919496; font-weight: bolder;"></mat-list-item>
            <mat-list-item role="listitem" style="color: white; ">
             
            </mat-list-item>
          </mat-list>

        </div>
        <div class="footer-end">
          © 2019 Toate Drepturile Rezervate! ECU Tunning Services Romania
        </div>
      </div>
    
    </div>
  </footer>

<router-outlet></router-outlet>