div.mat-tab-label-content{
    font-size: 24px!important;
    color: white;
}

mat-tab-header {
    position: fixed!important;
    width: 100%;
    z-index: 99999;


    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}

.mat-tab-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-ba {
    background-color: rgba(0, 0, 0, 0.9);
}

.mat-tab-body-wrapper{
    margin-top: 0px;
}




/* FOOTER */


.footer {
    background-image:url('../assets/footer-background.jpg');
    background-size: contain;
}

.footer-overlay
{
    z-index: 2; width: 100%; background-color: rgba(0, 0, 0, 0.5)!important;
}

.footer-end{
    background-color: rgb(0, 0, 0, 0.5);
    color: #888;
    align-items: center;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
}

.footer-container{
    padding:40px 0px; 
    display: flex; 
    justify-content: center; 
    color:white
}

.footer-container > .mat-list{
    padding: 0px 40px;
}


.footer-follow-us {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.footer-brands {
    width: 60px; 
    height: 60px; 
    color:white;
    border-color: #555;
    border-radius: 50%; 
    border-width: 2px;
    border-style: solid;
    text-align: center; 
    line-height: 60px;
    margin-right: 20px;
}

.footer-brands:hover{
    color: white;
    background-color:#555;
}

.footer-brands > fa-icon {
    font-size: 32px;
}