div.mat-tab-label-content{
    font-size: 24px!important;
    color: black;
}

mat-tab-header {
    position: fixed!important;
    z-index: 99999;
    background-color: #EEE;
    width: 100%;

    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}

.mat-tab-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-ba {
    background-color: rgba(0, 0, 0, 0.9);
}

.mat-tab-body-wrapper{
    margin-top: 0px;
}

.mat-tab-labels {
    justify-content: center;
    margin: 0 auto;

}


@media screen and (min-width: 1550px) {
    .mat-tab-labels{
      width: 1550px!important;
    }
  }
  

.mat-tab-label {
    opacity: 1!important;
}


.user-btn {
    appearance: none!important; border-radius: 50%;
    border: none!important;
}

.outline-none {
    outline: none!important;
}

.mat-menu-content > button{
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.mat-menu-content > button:hover{
    background-color: #E2e2e2!important;
}

.clicked {
    transform: rotate(90deg)
}