<div style="height: 100px;"></div>
<alert style="position: absolute; min-width: 300px; left:50%; top: 50px; z-index: 99999"></alert>

<mat-toolbar style="position: fixed; top: 0; z-index: 99; box-shadow: 0px -3px 8px 0px; background-color: var(--ets-dark);">  
  
  <mat-toolbar-row class="section" style="height: 100px;">
    <img src="../assets/logocaretrebuie-white-sm.png" style="max-height: 64px;">
    <div style="flex: 1 1 auto"></div>
    <a mat-button routerLink='home' style="font-weight: bold; color: white;">Home</a>
    <a mat-button routerLink='tune' style="font-weight: bold;  color: white;">Catalog Tuning</a>
    <a mat-button routerLink='about' style="font-weight: bold; color: white;">About</a>
    
    <!-- 
      <div style="margin-left:40px; ">
        <img src="../assets/profile.jpg" style="width: 42px; height: 42px; border-radius: 50%;">
        <mat-icon style="font-size: 42px; width: 42px; height: 42px;">account_circle</mat-icon>
      </div> -->
      <mat-menu #appMenu="matMenu">
        <a mat-menu-item class="outline-none" *ngIf='accountService.userValue != null' style="font-weight: bold;">{{"Hello, " + accountService.userValue?.firstName}}</a>
        <hr *ngIf='accountService.userValue != null' style="margin:0 auto">

        <a mat-menu-item class="outline-none" *ngIf='accountService.userValue != null' routerLink='/user/profile'>Account</a>
        <a mat-menu-item class="outline-none" *ngIf='accountService.userValue != null' routerLink='/home' (click)='logout()'>Logout</a>
        
        <a mat-menu-item class="outline-none" *ngIf='accountService.userValue == null' routerLink="/account/login">Login</a>
        <a mat-menu-item class="outline-none" *ngIf='accountService.userValue == null' routerLink="/account/register">Register</a>
      </mat-menu>
      
      <button [matMenuTriggerFor]="appMenu" #t='matMenuTrigger' class="user-btn shadow-none outline-none " style="background: transparent!important; margin-left: 40px; ">
        <img src="{{(accountService.userValue?.avatar != null ? accountService.userValue.avatar : 'assets/testimonials.jpg')}} " style="width: 42px; height: 42px; border-radius: 50%;">
        <span style="font-size: 16px; margin-left: 8px; color: white;">{{accountService.userValue ? accountService.userValue.username : "My Account"}}</span>
        <mat-icon class="align-middle" style="color:#CCB686; font-size: 16px; width: 16px; height: 16px; transition: all 0.1s linear;" [ngClass]="{'clicked': t.menuOpen}">keyboard_arrow_right</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
