<div class="d-flex align-items-center justify-content-center" style="height: 100%;">
  <div class='p-4 mat-elevation-z8'  style="width: 400px;">

    <h2>Sign in</h2>

    <form [formGroup]="loginForm" (ngSubmit)='loginAsync()' class="mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="username" autocomplete="off">
        <mat-error *ngIf='loginForm.controls.username.hasError("required")'>Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf='loginForm.controls.password.hasError("required")'>Required</mat-error>
      </mat-form-field>

      <button mat-raised-button color='primary' class="w-100 d-flex justify-content-center" type="submit">
        <!-- <mat-progress-bar mode='indeterminate' color='primary' *ngIf='isLoading'></mat-progress-bar> -->
        <mat-spinner color='warn' *ngIf='isLoading' diameter='30' style="margin: 4px;"></mat-spinner>
        <span *ngIf='!isLoading'>Sign in</span>
      </button>
    </form>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <button mat-button routerLink='/auth/resetpassword'>Forgot password?</button>
      <button mat-button routerLink='/auth/register'>Register</button>
    </div>

    <div class='w-100 text-center mb-3' style="color: #8888;"> or sign in with social account</div>

    <div class="w-100 text-center">
      <fa-icon class='fb-icon brand-icon' [icon]="faFacebook"></fa-icon>
      <fa-icon class="gg-icon brand-icon" [icon]="faGoogle"></fa-icon>
      <fa-icon class="dc-icon brand-icon" [icon]="faDiscord"></fa-icon>
    </div>

  </div>
</div>