mat-expansion-panel {
    margin:10px;
}

mat-expansion-panel-header {
    height: 80px!important;
    
    /* background-color: var(--ets-blue); */
}

mat-expansion-panel-header:focus {
    /* background-color: #eaeaea!important; */
}


mat-expansion-panel-header:hover {
    /* background-color: #eaeaea!important; */
}

mat-panel-title {
    font-weight: bold;
    /* color:var(--ets-blue)!important; */
}