<div mat-dialog-content>
    <ng-container [ngSwitch]="method">
        <app-car-brand-edit *ngSwitchCase="'BRAND'" [carBrand]="editObject" (carBrandEdited)="objectEdited($event)"></app-car-brand-edit>
        <app-car-model-edit *ngSwitchCase="'MODEL'" [carModel]="editObject" (carModelEdited)="objectEdited($event)"></app-car-model-edit>
        <app-car-make-edit *ngSwitchCase="'MAKE'" [carMake]="editObject" (carMakeEdited)="objectEdited($event)"></app-car-make-edit>
    </ng-container>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>